<?xml version="1.0"?>
<config>
    <modules>
        <Klar_DataSync>
            <version>1.0.0</version>
        </Klar_DataSync>
    </modules>
    <global>
        <helpers>
            <klar_datasync>
                <class>Klar_DataSync_Helper</class>
            </klar_datasync>
        </helpers>
		<blocks>
			<klar_datasync>
				<class>Klar_DataSync_Block</class>
			</klar_datasync>
		</blocks>
        <models>
            <klar_datasync>
                <class>Klar_DataSync_Model</class>
				<resourceModel>klar_datasync_resource</resourceModel>
            </klar_datasync>
			<klar_datasync_resource>
				<class>Klar_DataSync_Model_Resource</class>
				<entities>
					<klarorder>
						<table>klar_orders</table>
					</klarorder>
				</entities>
			</klar_datasync_resource>
        </models>
		<resources>
            <klar_datasync_setup>
                <setup>
                    <module>Klar_DataSync</module>
					<class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </klar_datasync_setup>
            <klar_datasync_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </klar_datasync_write>
            <klar_datasync_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </klar_datasync_read>
        </resources>
		<events>
            <sales_order_place_after>
                <observers>
                    <klar_datasync_order_place_after_observer>
                        <type>singleton</type>
                        <class>klar_datasync/observer_order</class>
                        <method>createKlarOrder</method>
                    </klar_datasync_order_place_after_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
	<admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <klar_datasync before="Mage_Adminhtml">Klar_DataSync_Adminhtml</klar_datasync>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<klar translate="title" module="klar_datasync">
											<title>Klar</title>
											<sort_order>1500</sort_order>
										</klar>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<crontab>
        <jobs>
            <klar_datasync_order_synchronization>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>klar_datasync/cron_order::synchronizeOrders</model>
                </run>
            </klar_datasync_order_synchronization>
        </jobs>
    </crontab>
	<default>
        <klar>
            <integration>
                <enabled>0</enabled>
                <api_url>https://open-api.getklar.com/</api_url>
				<api_version>12.2022</api_version>
				<api_token backend_model="adminhtml/system_config_backend_encrypted" />
				<public_key backend_model="adminhtml/system_config_backend_encrypted" />
            </integration>
        </klar>
    </default>
</config>