<?xml version="1.0"?>
<!--
/**
 * @author     Sebastian Ruchlewicz <contact@codeapp.pl>
 * @copyright  Copyright (c) 2024 (https://codeapp.pl)
 */
-->
<config>
    <modules>
        <CodeApp_Klar>
            <version>1.0.0</version>
        </CodeApp_Klar>
    </modules>
    <global>
        <helpers>
            <codeapp_klar>
                <class>CodeApp_Klar_Helper</class>
            </codeapp_klar>
        </helpers>
		<blocks>
			<codeapp_klar>
				<class>CodeApp_Klar_Block</class>
			</codeapp_klar>
		</blocks>
        <models>
            <codeapp_klar>
                <class>CodeApp_Klar_Model</class>
				<resourceModel>codeapp_klar_resource</resourceModel>
            </codeapp_klar>
			<codeapp_klar_resource>
				<class>CodeApp_Klar_Model_Resource</class>
				<entities>
					<klarorder>
						<table>klar_orders</table>
					</klarorder>
				</entities>
			</codeapp_klar_resource>
        </models>
		<resources>
            <codeapp_klar_setup>
                <setup>
                    <module>CodeApp_Klar</module>
					<class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codeapp_klar_setup>
            <codeapp_klar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codeapp_klar_write>
            <codeapp_klar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codeapp_klar_read>
        </resources>
		<events>
            <sales_order_place_after>
                <observers>
                    <codeapp_klar_order_place_after_observer>
                        <type>singleton</type>
                        <class>codeapp_klar/observer_order</class>
                        <method>createKlarOrder</method>
                    </codeapp_klar_order_place_after_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
	<admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <codeapp_klar before="Mage_Adminhtml">CodeApp_Klar_Adminhtml</codeapp_klar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<klar translate="title" module="codeapp_klar">
											<title>Klar</title>
											<sort_order>1500</sort_order>
										</klar>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>	
</config>